/* Slideshow container */
.slideshow-container {
  width: 90%; /*makes it even more responsive*/
  max-width: 420px;
  height: 250px; /* fix slider height */
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  border: none; /*2px solid #333*/
  border-radius: 10px;
    user-select: none; /*added for multiple shlideshows*/
}


/* Wrapper holding all slides */
.slides-wrapper{
  display: flex;
  transition: transform 1.5s ease-in-out; 
  will-change: transform /*added for multiple slideshows to prevent flex shrinking issues*/
}

/*each slide*/
.mySlides {
  width: 100%;
  height: 100%;  /*before, height: 250px; for a single slideshow*/
  object-fit: cover;
  flex-shrink: 0;
}
