  /*Modern reset - eliminate unintended browser discrepancies,
  improve default text legibility, and establish sane defaults 
  for responsive layouts. */
 *, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
   line-height: 1.5;
  font-family: system-ui, sans-serif;
}

img, video {
  max-width: 100%;
  display: block;
}
/*
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}
*/
.flex {
  display: flex;
  gap: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 16px;
}

@media (max-width: 768px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .flex {
    flex-direction: column;
  }
}

#s1{
  font-size: 2rem; 
}

h1, h2, h3, p {
  margin: 0 0 12px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

p {
  color: #333;
}

.stack > * + * {
  margin-top: 16px;
}


/*You define columns per use:*/
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/*test at the end of all three css files
.container {
  max-width: none !important;
  margin: 0 !important;
}
  */

  /* ---------- Dropdown menu ---------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: transparent;
    color: white;
    border: none;
    font-size: 16px;
    padding: 14px 16px;
    cursor: pointer;
}

.dropbtn:hover {
    background:  #d77907;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #d77907;
    min-width: 240px;
    color:#222 !important; /*I added this now*/
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
